# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=postgres
DB_SSL=disable
DB_MAX_CONNECTIONS=20
DB_IDLE_CONNECTIONS=10
DB_CONN_MAX_LIFETIME=300

# HTTP API Configuration
HTTP_SERVER_PORT=8000
HTTP_SERVER_READ_TIMEOUT=15 
HTTP_SERVER_WRITE_TIMEOUT=15
HTTP_SERVER_IDLE_TIMEOUT=60
HTTP_SERVER_RATE_LIMIT=100-S
HTTP_SERVER_ENVIRONMENT=development
HTTP_SERVER_SWAGGER_USER=admin
HTTP_SERVER_SWAGGER_PASSWORD=admin123

# JWT Configuration
JWT_SECRET_KEY="78931kas%&*#1i390dajs"
JWT_REFRESH_SECRET_KEY="98312jk#@SDAwseDA@sdj2s"

# Logging Configuration
LOG_LEVEL=info
LOG_PATH=logs/app.log
LOG_STDOUT=true

# Sentry Configuration
SENTRY_DSN = "https://f255c39d39ebe99c3f94e30d5795b7fc@o4509251287515136.ingest.us.sentry.io/4509251325526016"
SENTRY_TRACES_SAMPLE_RATE=1.0

# File Storage (MinIO / S3 Compatible)
FILE_STORAGE_ACCESS_KEY=admin
FILE_STORAGE_SECRET_KEY=admin
FILE_STORAGE_ENDPOINT=http://localhost:9000
FILE_STORAGE_REGION=us-east-1
FILE_STORAGE_BUCKET=donation-storage
FILE_STORAGE_ACL=public-read
FILE_STORAGE_URL=http://localhost:9000/donation-storage