# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=postgres
DB_SSL=disable
DB_MAX_CONNECTIONS=20
DB_IDLE_CONNECTIONS=10
DB_CONN_MAX_LIFETIME=300

# HTTP API Configuration
ENVIRONMENT=development
HTTP_SERVER_PORT=8000
HTTP_SERVER_READ_TIMEOUT=15
HTTP_SERVER_WRITE_TIMEOUT=15
HTTP_SERVER_IDLE_TIMEOUT=60


# Logging Configuration
LOG_LEVEL=info
LOG_PATH="./logs/app.log"